.cs-logo {
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 50px;
    margin-top: 5%;
    font-family: 'PassionOne';
}

.cs-logo-first-part {
    Color: #FFFFFF;
}

.cs-logo-second-part {
    Color: #4CAF50;
}
